@import '../../styles/settings.scss';

.favoriteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: $color-dark;
  }

  .active {
    color: $color-success;
  }

